*{
	margin: 0px;
	padding: 0px;
}

.parent
{
	background-color: gray;
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.children
{
	background-color: lightgreen;
	width: 15%;
	height: 300px;
	border-radius: 10px;
}

.parent2
{
	background-color: black;
	width: 100%;
	height: 300px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.children2
{
	background-color: lightgreen;
	width: 20%;
	height: 300px;
	border-radius: 10px;
	display: inline-block;
	margin-left: 4%;
}
